* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(255, 122, 122) url("./images/bg-intro-desktop.png");
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

body {
    padding-top: 200px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.left {
    flex-basis: 50%;
    padding-top: 100px;
}

.text {
    padding: 20px;
    text-align: center;
}

.banner p {
    background: rgb(96, 85, 165);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

form {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"] {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(62, 60, 73);
    font-weight: 600;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(56, 204, 140);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.error {
    width  : 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    /* font-weight: 700; */
    font-style: italic;
    color: rgb(255, 122, 122);
    text-align: right;
    display: block;
    box-sizing: border-box;
}

input:invalid {

    border: rgb(255, 122, 122) solid 3px;
}

#disclaimer {
    background-color: rgb(255, 255, 255);
    color: rgb(185, 182, 211);
    font-size: 10px;
    text-align: center;
}

.red-text {
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 122, 122);
}

@media screen and (max-width: 768px) {
    body {
        padding: 50px;
    }
    .flex-container {
        flex-direction: column;
    }
    
}









.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}